<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="/main.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        .center {
          margin: auto;
          width: 60%;
          padding: 10px;
        }
    </style>
</head>
<body>

<div id="react" class="center"></div>

<script src="built/bundle.js"></script>

</body>
</html>